@import url('https://fonts.googleapis.com/css?family=Fira+Code|Lato|PT+Sans|Ubuntu&display=swap');

html, body, .site, .app {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body {
	background-color: #1e2b60;
	background-image: url('https://i.pinimg.com/originals/5c/f2/66/5cf2660af5f4214def7166dc7a7c8062.jpg');
	color: white;
	font-family: Calibri, sans-serif;
}

div, h1, p {
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: #0000dd;
}

.site, .app {
	display: flex;
	flex-direction: column;
	width: initial;
	height: initial;
}

/* ----------Alerts---------- */
.alerts {
	position: absolute;
	width: 100%;
}

.alert {
	position: relative;
	display: block;
	margin: 0;
	padding: 4px 8px;
}

.alert.red {
	background-color: red;
}

.alert.orange {
	background-color: orange;
}

.alert.green {
	background-color: green;
}

.alert.blue {
	background-color: blue;
}

/* ----------Title---------- */
.title {
	display: block;

/* DEV: No Title */
	display: none;
	margin: 10px;
	margin-top: 1%;
	width: auto;
	text-align: center;
	font-size: 5vw;
	font-family: 'Ubuntu', sans-serif;
}

.titleLogo {
	display: block;

	/* DEV: No Title */
	/* display: none; */
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 10px;
	width: 24vh;
}

/* ----------Viewer---------- */
.viewer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 68vh;
}

.info {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

.info-time-container {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	text-align: center;
}

.info > p, .info-time-container > p {
	margin: 0.4vw 0;
	padding: 0;
}

.info-date, .info-time {
	font-size: 1.5vw;
}

.info-time::before {
	padding-left: 0.6vw;
	color: #fff5;
	content: ' | ';
}

.info-day {
	font-size: 1.3vw;
}

.timer-container {
	position: relative;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 70%;
}

.timer {
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	margin: auto auto;
	height: 15%;
	border-radius: 8px;
}

.timer-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 10vw;
	height: 5vw;
	border-radius: 8px;
	color: #757575;
	font-size: 2vw;
	transition: 500ms ease-in-out;
}

.timer-column.current {
	background-color: #4392f1;
	color: white;
	font-size: 3.5vw;
}

.timer-column.next {
	color: white;
	opacity: 1;
}

.timer-column-text {
	display: block;
	padding: 0;
	text-align: center;
	font-weight: 600;
	font-family: 'Fira Code', monospace;
}

.timer-pointer {
	position: absolute;
	left: calc(50% - 2px);
	display: block;
	width: calc(1vw / 4);
	height: 6.2vw;
	border-radius: 4px;
	background-color: #ff5252;
}

.timer-pointer-label, .timer-period-label {
	position: absolute;
	top: 64%;
	left: calc(50% - 30%);
	display: block;
	width: 60%;
	text-align: center;
	font-size: 2.5vw;
	font-family: 'Fira Code', monospace;
}

.timer-period-label {
	position: absolute;
	top: 28%;
	left: calc(50% - 30%);
	display: block;
	font-size: 1.5vw;
}

/* ----------Settings---------- */
.settings {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}

.settings-selector {
	margin: 0 auto;
}

.option-button {
	margin: 0.4vw;
	padding: 1vw;
	width: max-content;
	height: max-content;
	outline: none;
	border: none;
	background-color: black;
	color: white;
	font-size: 1vw;
	transition: 200ms ease-out;
}

.option-button:hover {
	background-color: #4c4c72;
}

.option-button.small {
	margin: 0.2vw;
	padding: 0.4vw;
	font-size: 0.8vw;
}

.editor {
	display: none;
	padding: 10px;
	width: max-content;
	width: max-content;
	height: max-content;
	background-color: white;
}

.editor > .form {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	background-color: white;
}

.form-row {
	display: flex;
	flex-direction: row;
}

.form-row > * {
	width: 50%;
}

.form-row > .form-label {
	margin: auto auto;
	color: black;
	font-size: 1vw;
	font-family: 'Courier New', Courier, monospace;
}

.form-row > input[type='text'] {
	margin: 10px;
	padding: 4px;
	width: max-content;
	height: calc(1vw);
	outline: none;
	border: none;
	border-bottom: 2px solid black;
	font-size: 1vw;
}

.form-row > input[type='color'] {
	display: none;
}

/* ----------Footer---------- */
footer {
	margin-bottom: 10px;
}

.copyright {
	color: #fff6;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

.feedback {
	color: white;
	text-align: center;
}

.feedback > a {
	margin-bottom: 4px;
	color: white;
}

@media only screen and (max-device-width : 640px) {
	/* ----------Footer---------- */
	.title {
		font-size: 15vw;
	}

	/* ----------Viewer---------- */
	.info > p {
		margin: 2vw;
		padding: 0;
	}

	.info-date, .info-time {
		font-size: 6vw;
	}

	.info-time::before {
		padding-left: 2vw;
	}

	.info-day {
		font-size: 5vw;
	}

	.timer-column {
		width: 30vw;
		height: 20vw;
		font-size: 6vw;
	}

	.timer-column.current {
		font-size: 12vw;
	}

	.timer-pointer {
		width: calc(1vw / 1.5);
		height: 23vw;
	}

	.timer-pointer-label {
		top: 70%;
		font-size: 10vw;
	}

	.timer-period-label {
		top: 20%;
		font-size: 7vw;
	}

	/* ----------Settings---------- */
	#toggleEditor {
		display: none;
	}
}
