.alertContainer {
	left: 50%;
	position: absolute;
	width: 50%;
	top: 30px;
	z-index: 100;
}

.alertBox {
	opacity: 1;
	left: -50%;
	padding: 10px;
	position: relative;
	/* height: 5em; CHANGE MADE HERE */
	height: -webkit-fit-content;
	color: white;
	font-family: arial;
	font-weight: 600;
	vertical-align: middle;
	align-items: center;
	justify-content: space-between;
}

.alertClosed {
	opacity: 0;
	transform: translateY(-200px);
	transition: 500ms;
}

.alertNone {
	display: none;
}

.alertBox/* :not(.alertClose)*/ {display: flex;}

.alertBox.warning {background-color: #f44336;}
.alertBox.important {background-color: #ff9800;}
.alertBox.success {background-color: #4CAF50;}
.alertBox.info {background-color: #2196F3;}

.alertClose {
	z-index: 99;
	color: white;
	float: right;
	cursor: pointer;
	vertical-align: middle;
	font-weight: 600;
}

.alertClose:hover {color: grey;}