@import url('https://fonts.googleapis.com/css?family=Fira+Code|Lato|PT+Sans|Ubuntu&display=swap');
/* font-family: 'Fira Code', monospace; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'PT Sans', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	/* background-color: #303f9f; */
	background-color: #1E2B60;
	background-image: url('https://i.pinimg.com/originals/5c/f2/66/5cf2660af5f4214def7166dc7a7c8062.jpg');
	color: white;
}

.title {
	display: block;

/* DEV: No Title */
	display: none;
	margin: 10px;
	margin-top: 1%;
	width: auto;
	text-align: center;
	font-size: 5vw;
	font-family: 'Ubuntu', sans-serif;
}

.titleLogo {
	display: block;

/* DEV: No Title */
	/* display: none; */
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 10px;
	width: 24vh;
}

.app {
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 70vh;
}

.info {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

.info-time-container {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	text-align: center;
}

.info > p, .info-time-container > p {
	margin: 0.4vw 0;
	padding: 0;
}

.info-date, .info-time {
	font-size: 1.5vw;
}

.info-time::before {
	padding-left: 0.6vw;
	content: ' | ';
	color: #fff5;
}

.info-day {
	font-size: 1.3vw;
}

@media only screen and (max-device-width : 640px) {
	.title {
		font-size: 15vw;
	}

	.info > p {
		margin: 2vw;
		padding: 0;
	}

	.info-date, .info-time {
		font-size: 6vw;
	}

	.info-time::before {
		padding-left: 2vw;
	}

	.info-day {
		font-size: 5vw;
	}
}

.timer-container {
	position: relative;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	width: 100%;

/* height: 100%; */
	height: 70%;
}

.timer {
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	margin: auto auto;
	height: 15%;
	border-radius: 8px;
}

.timer-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 10vw;
	height: 5vw;

/* border: 0.3vw solid #fff5; */
	border-radius: 8px;
	color: #757575;
	font-size: 2vw;
	transition: 500ms ease-in-out;
}

.timer-column.current {
	/* border: 0.3vw solid #fff0; */
	background-color: #4392f1;
	color: white;
	font-size: 3.5vw;
}

.timer-column.next {
	color: white;
	opacity: 1;
}

@media only screen and (max-device-width : 640px) {
	.timer-column {
		width: 30vw;
		height: 20vw;

/* border: 1vw solid #fff5; */
		font-size: 6vw;
	}

	.timer-column.current {
		/* border: 1vw solid #fff0; */
		font-size: 12vw;
	}
}

.timer-column-text {
	display: block;
	padding: 0;
	text-align: center;
	font-weight: 600;
	font-family: 'Fira Code', monospace;
}

.timer-pointer {
	position: absolute;

/* top: 11.4vw; */
	left: calc(50% - 2px);
	display: block;
	width: calc(1vw / 4);
	height: 6.2vw;
	border-radius: 4px;
	background-color: #ff5252;
}

.timer-pointer-label, .timer-period-label {
	position: absolute;
	top: 64%;
	left: calc(50% - 30%);
	display: block;
	width: 60%;
	text-align: center;

/* font-weight: 200; */
	/* font-size: 4vw; */
	font-size: 2.5vw;
	font-family: 'Fira Code', monospace;
}

.timer-period-label {
	position: absolute;
	top: 28%;
	left: calc(50% - 30%);
	display: block;
	font-size: 1.5vw;
}

@media only screen and (max-device-width : 640px) {
	.timer-pointer {
		/* top: 40vw; */
		width: calc(1vw / 1.5);
		height: 23vw;
	}

	.timer-pointer-label {
		top: 70%;
		font-size: 10vw;
	}

	.timer-period-label {
		top: 20%;
		font-size: 7vw;
	}
}

.settings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	/* margin-top: -30px; */
}

.settings-selector {
	margin: 0 auto;
}

footer {
	margin-bottom: 10px;
}

.copyright {
	color: #fff6;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
