/* Monthly Colors: http://www.birthdaycelebrations.net/birthstonesflowersandstars.htm */

body {
	background-color: #033860;
	color: white;
}

#Period {
  color: #0060C1;
}
        
#Time {
  color: rgb(176, 0, 200);
}
        
#Next {
  color: #00AAFF;
}
        
#Date {
  color: rgb(176, 0, 200);;
}

#Day {
  color: #00AAFF;
}
        
#bar {
  background-color: green;
  color: white;
}
        
#box {
  border-color: black;
}

#bar2 {
  background-color: orange;
  color: white;
}
        
#box2 {
  border-color: black;
}

.Menu {
	/* background-color: rgb(0, 0, 158); */
	background-color: rgb(17, 17, 145);
	/* border-bottom: 1px solid rgb(100, 0, 0); */
}

.lightgrey {
	color: white;
}