/* Monthly Colors: http://www.birthdaycelebrations.net/birthstonesflowersandstars.htm */

body {
	background-color: #033860;
	color: white;
}
        
#Period {
  color: blue;
}
        
#Time {
  color: orange;
}
        
#Next {
  color: blue;
}
        
#Date {
  color: orange;
}

#Day {
  color: green;
}
        
#bar {
  background-color: green;
  color: white;
}
        
#box {
  border-color: black;
}

#bar2 {
  background-color: orange;
  color: white;
}
        
#box2 {
  border-color: black;
}

.Menu {
	background-color: rgb(0, 0, 158);
	/* border-bottom: 1px solid rgb(100, 0, 0); */
}